.gradle/
.idea/
*.iml
.DS_Store
/build
/build/*
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
build/
bin/
gen/
out/
.navigation/
*.hprof
.cxx/
*.so
*.log
sdk/
*.txt
release/
