name: Deploy to Play Store

on:
  push:
    tags: [ "v*" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # Decode Keystore (Same as release.yml)
    - name: Decode Keystore
      env:
        ENCODED_KEYSTORE: ${{ secrets.KEYSTORE_BASE64 }}
      run: |
        echo $ENCODED_KEYSTORE | base64 -di > app/release-key.jks

    - name: Build Release Bundle
      env:
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      run: ./gradlew bundleRelease

    - name: Create Service Account File
      env:
        SERVICE_ACCOUNT_CONTENT: ${{ secrets.SERVICE_ACCOUNT_JSON }}
      run: echo "$SERVICE_ACCOUNT_CONTENT" > service_account.json

    - name: Upload to Play Store
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountFile: service_account.json
        packageName: com.cardio.fitbit
        releaseFiles: app/build/outputs/bundle/release/app-release.aab
        track: internal
        status: draft
        whatsNewDirectory: fastlane/metadata/android/en-US/changelogs
